.ModalInfo {
  background-color: #000000d3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.ModalInfo_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
