.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.Header img {
  width: 200px;
}
.Header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin-right: 40px;
  font-weight: bold;
}
.Header a {
  text-decoration: none;
  color: #3f836f;
}
