.Gallery h1 {
  text-align: center;
  margin: 30px;
}
.gallery {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}
.gallery::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: rgb(30, 82, 223);
}

.gallery::-webkit-scrollbar-thumb {
  background: rgb(179, 226, 9);
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.gallery img {
  min-height: 150px;
  max-height: 150px;
  object-fit: contain;
}
